@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg_color: white;
    --fg_color: #59bf4a;
    --chat_name: rgb(55, 55, 55);
    --personal_bg: white;
    --chats_fg: #517da2;
    --chats_bg: #d5e8f7
}

body * {
    font-family: "Roboto";
}

#box {
    width: 360px;
    display: none;
}

img {
    width: 100%;
}


.chat_time {
    position: absolute;
    left: 246px;
    color: #747f89;
    font-size: 13px;
    background: var(--bg_color);
    padding-left: 15px;
    list-style: none;
    width: 100px;
    text-align: right;
}

.chat_dp {
    position: absolute;
    list-style: none;
}

.chat_dp img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.chat_named_dp {
    width: 58px;
    height: 58px;
    display: block;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 58px;
    font-size: larger;
    font-weight: bold;
}

.online_bullet {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--fg_color);
    border: 3px solid var(--bg_color);
    list-style: none;
}

.count_bullet {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--fg_color);
    color: white;
    text-align: center;
    line-height: 25px;
    list-style: none;
}

.msg_img {
    position: absolute;
    width: 250px;
    height: 30px;
    background: var(--bg_color);
    display: flex;
}

.msg_img>img {
    width: 18px;
    height: 18px;
    border-radius: 2px;
}

.msg_span_img {
    color: #61a4c8;
    margin-left: 5px;
}

.msg_span_text {
    color: #747f89;
    margin-left: 5px;
}

.msg_span_text_alone {
    color: #747f89;
}

.chat_name {
    position: absolute;
    color: var(--chat_name);
    font-weight: 600;
    width: 210px;
    background: var(--bg_color);
    list-style: none;
}

.All {
    position: absolute;
    width: 28px;
    height: 21px;
    top: 103px;
    left: 46px;
    text-align: center;
    background: var(--chats_bg);
    color: var(--chats_fg);
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.Unread {
    position: absolute;
    width: 33px;
    height: 21px;
    top: 103px;
    right: calc(100% - 360px + 41px);
    text-align: center;
    background: var(--chats_bg);
    color: var(--chats_fg);
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.Personal {
    position: absolute;
    width: 33px;
    height: 21px;
    top: 103px;
    left: 169px;
    text-align: center;
    background: var(--personal_bg);
    color: var(--chats_fg);
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.voice {
    color: #61a4c8;
}

.off {
    position: absolute;
    width: 200px;
    top: 5px;
    left: 75px;
    font-weight: 900;
    background: crimson;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.tg {
    position: absolute;
    width: 200px;
    top: 40px;
    left: 60px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background: var(--chats_fg);
    padding: 10px;
}

.btn {
    position: absolute;
    top: 30;
    left: 100px;
    cursor: pointer;
    background: crimson;
    color: white;
    border: none;
    padding: 10px;
}

.hide {
    position: absolute;
    top: 790px;
    width: 360px;
    height: 10px;
    background: var(--bg_color);
}

.status_time {
    position: absolute;
    width: 30px;
    height: 12px;
    top: 16px;
    left: 47px;
    text-align: right;
    color: white;
    font-size: 12px;
    background: #517da2;
}

.battery {
    position: absolute;
    width: 16px;
    height: 7px;
    top: 19px;
    left: 311px;
    text-align: center;
    color: white;
    font-size: 7px;
    background: #6c90b0;
}